@define-color background #000000;
@define-color background_glow #101112;
@define-color blue  #9ACEEB;
@define-color blue_glow  #2B6BC4;
@define-color disabled #424244;
@define-color foreground  #FFFFFF;
@define-color foreground_glow  #6A6A6A;
@define-color green #A8E4A0;
@define-color green_glow #1CAC78;
@define-color inactive #6A6A6A;
@define-color orange  #FFA500;
@define-color orange_glow #FF5F1F;
@define-color purple #FD74FD;
@define-color purple_glow #FF1DCE;
@define-color red   #FD5E53;
@define-color red_glow   #9D0006;
@define-color yellow  #FEFE22;
@define-color yellow_glow #F8D468;
* {
    font-family: "Iosevka Nerd Font";
    font-size:   13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.4)
    /*border-radius: 6px;
    border: 1px solid @blue;
    box-shadow: inset 1px 1px 2 @blue_glow,inset -1px -1px 2 @blue_glow,inset 1px -1px 2 @blue_glow,inset -1px 1px 2 @blue_glow;*/
  }
#backlight,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#memory,
#mpd, #mpd.playing, #mpd.paused,
#network, #network.disconnected,
#window,
#wireplumber,
#custom-be_better,
#user
{
  padding-left: 12px;
  padding-right: 12px;
}

/*|FOREGROUND NEON GLOW|*/
@keyframes pulsate_foreground {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px @foreground_glow,
      0 0 5px @foreground_glow,
      0 0 9px @foreground_glow,
      0 0 10px @foreground_glow;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px @foreground_glow,
      0 0 5px @foreground_glow,
      0 0 9px @foreground_glow,
      0 0 10px @foreground_glow;
  }
}
#backlight,
#network,
#cava,
#wireplumber,
#workspaces button.active,
#user,
#language
{
  color: @foreground;
  animation: pulsate_foreground 0.11s ease-in-out infinite alternate;
}
/*|FOREGROUND NEON GLOW|*/

/*|RED NEON GLOW|*/
@keyframes pulsate_red {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px @red_glow,
      0 0 5px @red_glow,
      0 0 9px @red_glow,
      0 0 10px @red_glow;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px @red_glow,
      0 0 5px @red_glow,
      0 0 9px @red_glow,
      0 0 10px @red_glow;
  }
}
#cpu,
#custom-pacman.pending-updates,
#mpd.paused,
#battery.low
{
  color: @red;
  animation: pulsate_red 0.11s ease-in-out infinite alternate;
}
/*|RED NEON GLOW|*/

/*|GREEN NEON GLOW|*/
@keyframes pulsate_green {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px @green_glow,
      0 0 5px @green_glow,
      0 0 9px @green_glow,
      0 0 10px @green_glow;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px @green_glow,
      0 0 5px @green_glow,
      0 0 9px @green_glow,
      0 0 10px @green_glow;
  }
}
#battery.full,
#battery.high,
#memory,
#mpd.playing
{
  color: @green;
  animation: pulsate_green 0.11s ease-in-out infinite alternate;
}
/*|GREEN NEON GLOW|*/

/*|BLUE NEON GLOW|*/
@keyframes pulsate_blue {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px @blue_glow,
      0 0 5px @blue_glow,
      0 0 9px @blue_glow,
      0 0 10px @blue_glow;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px @blue_glow,
      0 0 5px @blue_glow,
      0 0 9px @blue_glow,
      0 0 10px @blue_glow;
  }
}
/*|BLUE NEON GLOW|*/
#disk,
#clock,
#bluetooth,
#custom-be_better,
#custom-pacman
{
  color: @blue;
  animation: pulsate_blue 0.11s ease-in-out infinite alternate;
}

/*|ORANGE NEON GLOW|*/
@keyframes pulsate_orange {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px @orange_glow,
      0 0 5px @orange_glow,
      0 0 9px @orange_glow,
      0 0 10px @orange_glow;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px @orange_glow,
      0 0 5px @orange_glow,
      0 0 9px @orange_glow,
      0 0 10px @orange_glow;
  }
}
/*|ORANGE NEON GLOW|*/
/*#clock
{
  color: @orange;
  animation: pulsate_orange 0.11s ease-in-out infinite alternate;
}*/

/* [MODULES - TOP] */
#mpd {
  margin-left: 8px;
  color: @disabled;

}

#custom-weather {
  color: @foreground;
  text-shadow:3px 3px 3 @foreground_glow, -3px -3px 3 @foreground_glow,3px -3px 3 @foreground_glow, -3px 3px 3 @foreground_glow;
}
/* [MODULES - BOTTOM] */
#workspaces {
  border-radius: 0px;
}
#workspaces button {
  color: @foreground_glow;
  background: none;
}

#workspaces button.active {
  border-radius: 0px;
}
#network.disconnected {
  color: @disabled;
}
#battery.medium {
  color: @orange;
  text-shadow:3px 3px 3 @orange_glow, -3px -3px 3 @orange_glow,3px -3px 3 @orange_glow, -3px 3px 3 @orange_glow;
}
#network {
  margin-right: 8px;
  color: @foreground;
  text-shadow:3px 3px 3 @foreground_glow, -3px -3px 3 @foreground_glow,3px -3px 3 @foreground_glow, -3px 3px 3 @foreground_glow;
}
#submap {
  color: @foreground;
}
