@define-color dark_zero #0f1012;
@define-color dark_one #625f50;
@define-color dark_two #495a67;
@define-color dark_three #57656d;
@define-color dark_four #566d7e;
@define-color dark_five #4a738d;
@define-color dark_six #6b7380;
@define-color dark_seven #8e8e98;
@define-color light_zero #59596d;
@define-color light_one #837F6B;
@define-color light_two #62788A;
@define-color light_three #748792;
@define-color light_four #7392A9;
@define-color light_five #639ABD;
@define-color light_six #8F9AAB;
@define-color light_seven #c3c3c3;

* {
    font-family: "Iosevka Nerd Font";
    font-size:   13px;
    font-weight: bold;
}
window#waybar {
    background-color: rgba(0,0,0, 0.7);
    transition-property: background_color;
    transition-duration: .5s;
    border-radius: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0.2em solid @light_seven;
    border-right: none;
}

/* TOP BAR */ 
#mpd.playing {
  color: @light_five;
}
#mpd.paused {
  color: @dark_one;
}

#clock {
  color: @light_seven;
}

#user {
  color: @light_seven;
}
/* BOTTOM BAR */
button {
  border: none;
}
button:hover {
  background: @inherit;
  box-shadow: none;
}
#workspaces button {
  color: @dark_one;
  background: none;
}
#workspaces button.active {
  color: @light_seven;
}
#cpu {
  color: @light_one; 
}
#memory {
  color: @light_two;
}
#disk {
  color: @light_seven;
}
#wireplumber,#cava {
  color: @light_three;
}
#backlight {
  color: @light_four;
}
#language {
  color: @light_seven;
}
#battery {
  color: @light_six;
}
#bluetooth {
  color: @dark_one;
}
#bluetooth.connected {
  color: @light_five;
}
#network {
  color: @light_seven;
}
#network.disconnected {
  color: @dark_one;
}
