@define-color background #282828;
@define-color foreground  #EBDBB2;
@define-color red   #FB4934;
@define-color green #B8BB26;
@define-color yellow #FABD2F;
@define-color blue  #83A598;
@define-color purple #D3869B;
@define-color aqua #8EC07C;
@define-color orange #FE8019;
@define-color inactive #7C6F64;
@define-color disabled #424244;

* {
    font-family: "Iosevka Nerd Font";
    font-size:   13px;
    font-weight: bold;
    min-height: 0;
}
window#waybar {
    background: @background;
}


#mpd, #mpd.playing, #mpd.paused,
#clock,
#bluetooth,
#network, #network.disconnected,
#workspaces.button,
#cpu,
#memory,
#disk,
#wireplumber,
#cava,
#backlight,
#battery,
#window
{
  padding-left: 12px;
  padding-right: 12px;
  background: @background;
}


/* [MODULES - TOP] */
#mpd {
  margin-left: 6px;
  color: @disabled;

  border-top: 2px solid @disabled;
}
#mpd.playing {
  color: @green; border-top: 2px solid @green;
}
#mpd.paused {
  color: @red;
  
  border-top: 2px solid @red;
}

#clock {
  color: @yellow;
  
  border-top: 2px solid @yellow;
}

#bluetooth {
  color: @blue;
  
  border-top: 2px solid @blue;
}

#network {
  color: @purple;
  
  border-top: 2px solid @purple;

}
#network.disconnected {
  color: @disabled;
  border-top: 2px solid @disabled;
}


/* [MODULES - BOTTOM] */
#workspaces {
  border-radius: 0px;
}
#workspaces button {
  color: @inactive;
}

#workspaces button.active {
  color: @foreground;
  border-bottom: 2px solid @foreground;
  border-radius: 0px;
}

#cpu {
  color: @red;
  
  border-bottom: 2px solid @red;
}
#memory {
  color: @green;
  
  border-bottom: 2px solid @green;
}

#disk {
  color: @blue;
  border-bottom: 2px solid @blue;
}

#wireplumber, #cava{
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
#cava {
  margin-left: -8px;
}
#backlight {
  color: @purple;
  border-bottom: 2px solid @purple;
}

#battery.full {
  color: @green;
  border-bottom: 2px solid @green;
}
#battery.high {
  color: @green;
  border-bottom: 2px solid @green;
}
#battery.medium {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
#battery.low {
  color: @red;
  border-bottom: 2px solid @red;
}
#submap {
  color: @foreground;
  border-bottom: 2px solid @foreground;
}
#window {
  color: @foreground;
  border-bottom: 2px solid @foreground;
}
